<table>
    <tr>
        <th *ngIf="multiple"> <app-checkbox class="checkbox" [state] = "checkState()"
            (changeState)="onChangeState($event)"> 
        </app-checkbox></th>
        <th [ngClass] = "obj?.headerClass" *ngFor="let obj of columns" >{{obj.name}}</th>
    </tr>
    <tbody >
        <tr #tr *ngFor="let data of arrRows ; let rowId = index; trackBy:identity" (click)="selectRow($event,rowId)">
            <td *ngIf="multiple"><input type="checkBox"></td>
            <td [ngClass]= "col?.cellClass" *ngFor="let col of columns "
                [innerHtml]="getCellText(data, col)">
            </td>
        </tr>
    </tbody>
</table>
<div class="btn-wrap">
    <span>страница {{countPage}}</span>
    <button #button  (click)="prevPege()"><</button>
    <button #button (click)="nextPage()">></button>
</div>